<div class="clue-item" data-location-id="0">
    <div class="clue-header">
        <div class="status-indicator"></div>
        <span style="flex-grow: 1">Susan B. Anthony's Grave</span>
        <span class="expand-icon">+</span>
    </div>
    <div class="clue-content">
        <ul>
            <li>This historical figure helped lead the way for Woman's Rights in the 19th century</li>
            <li>This location can be found plastered with "I Voted" stickers during election cycles</li>
            <li>Located north, her humble gravestone is by a pavement walk path</li>
        </ul>
    </div>
</div>

<div class="clue-item" data-location-id="1">
    <div class="clue-header">
        <div class="status-indicator"></div>
        <span style="flex-grow: 1">Sylvan Waters</span>
        <span class="expand-icon">+</span>
    </div>
    <div class="clue-content">
        <ul>
            <li>This area of the Cemetery is a unique environment for many critters</li>
            <li>Found fairly central, this location is within reasonable bounds from all Cemetery entrances</li>
            <li>If you need a nice spot to relax in the summertime, this area's many benches may be suitable</li>
        </ul>
    </div>
</div>

<div class="clue-item" data-location-id="2">
    <div class="clue-header">
        <div class="status-indicator"></div>
        <span style="flex-grow: 1">Civil War Memorial</span>
        <span class="expand-icon">+</span>
    </div>
    <div class="clue-content">
        <ul>
            <li>This historical site is dedicated to many who lost their lives in an infamous American war</li>
            <li>This site isn't just one person's gravestone, but many</li>
            <li>Located closest to University of Rochester entrance, this area corners between some of the more structured cemetery plots and the more wild areas</li>
        </ul>
    </div>
</div>

<div class="clue-item" data-location-id="3">
    <div class="clue-header">
        <div class="status-indicator"></div>
        <span style="flex-grow: 1">Frederick Douglass' Grave</span>
        <span class="expand-icon">+</span>
    </div>
    <div class="clue-content">
        <ul>
            <li>This historical figure was a leading figure in the Abolitionist movement, having escaped from slavery to his home and resting place in Rochester</li>
            <li>His headstone is accompanied by a plaque, and several signs even point the way to it</li>
            <li>You may just be able to see his headstone from Mt. Hope Avenue - if you climbed atop a roof to look over the hill it stands on</li>
        </ul>
    </div>
</div>

<div class="clue-item" data-location-id="4">
    <div class="clue-header">
        <div class="status-indicator"></div>
        <span style="flex-grow: 1">Garden of Remembrance</span>
        <span class="expand-icon">+</span>
    </div>
    <div class="clue-content">
        <ul>
            <li>This portion of Mt. Hope Cemetery is most in bloom during August, when a certain floral organization plants an incredible amount of flowers both here and around the cemetery</li>
            <li>While on a slight incline, this area invites you to take a safe step downward into a man-made divot</li>
            <li>Found just off the main path from the Southern Mt. Hope Avenue entrance, if you continued uphill from this location you would get a nice view of the surrounding areas</li>
        </ul>
    </div>
</div>

<div class="clue-item" data-location-id="5">
    <div class="clue-header">
        <div class="status-indicator"></div>
        <span style="flex-grow: 1">Drummer Boy's Grave</span>
        <span class="expand-icon">+</span>
    </div>
    <div class="clue-content">
        <ul>
            <li>This monument to a historical figure can be found near the joining of two corners of the Cemetery</li>
            <li>This person dates back to the Revolutionary War, and was George Washington's Drummer Boy during that time</li>
            <li>While a bit tricky to find, this headstone is close to a corner plot marker and stands roughly twice as high as surrounding stones</li>
        </ul>
    </div>
</div>